/* Register page container */
.login__container {
    /* Center page contents vertically & horizontally */
    display: flex;
    justify-content: center;
    align-items: center;

    /* height is 100% of viewport height */
    height: 100vh;

    /* bg color */
    background-color: #efefee;
}

/* container for login box in page center */
.login__box {
    flex-grow: 0.15;/* grow up to a 15th of the space available */
    background-color: white;
    
    /* Register box is between 300px and 100% */
    min-height: 300px;
    max-height: 100%;
    width: 300px;

    /* give border rounded edges */
    border-radius: 10px;

    /* 20px top & bottom, 35px left & right */
    padding: 20px 35px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
    
    /* Show scrollbar if necessary */
    overflow-y: auto;
}

/* CSS for login header container */
.login__header {
    padding: 20px 30px;
}

/* Make sure logo image is small */
img {
    width: 150px;
}

/* CSS for titles */
.reg__tag {
    font-weight: 400px;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    padding-bottom: 0;
    padding-top: 16px;
}

span {
    font-size: 14px;
}

/* Make input fields distribute horizontally in form */
.login__fields {
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
}

/* CSS for input fields */
.login__fields > input {
    font-size: 14px;
    margin: 10px 0px;
    border: none;
    border-bottom: 1px solid #dedede;
}

/* CSS for submit button */
.login__fields > input[type="submit"] {
   /* background: #4285f4;
    color: white;
    height: 36px;
    width: 88px;*/
    border-radius: 5px;/* gives corners curves */
    margin-top: 10px;
    margin-bottom: 20px;
}

/* CSS for link to login page */
.register_link {
    font-size: 14px;
    font-weight: 400;
    color: green;
    padding-left: 30px;
}