/* Make CSS flex, center items & space between child containers */
.headerbar {
    display: flex;
    flex: 99%;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    /* Make the searchbar stay in view, at the top
        z-index determines how in front it is (z axis)
        z-index 100 means nothing will ever be in front of it
        Background color so that it isn't transparent
    */
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}

/* Search bar CSS */
.searchbar__container {
    display: flex;
    align-items: center;
    width: 40%;
    border: 1px solid lightgray;
    margin-left: 100px;
}

/* Set flex 1 so that search input bar uses as much room as possible */
.searchbar__container > input {
    flex: 100%;
    border: none;
}

.search__button {
    width: 10% !important;/* override default width*/
    background-color: #fafafa;
    border-left: 1px solid lightgray;
    color: gray;
}

/* User bar CSS */
.user__bar {
    display: flex;
    align-items: center;
}

.user__icon {
    margin-right: 8px;
}

.avatar {
    border: 1px solid lightgray;
}