/* Make CSS flex, center items & space between child containers */
.header {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    /* Make the header stay in view, at the top
        z-index determines how in front it is (z axis)
        z-index 100 means nothing will ever be in front of it
        Background color so that it isn't transparent
    */
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: lightgoldenrodyellow;
}

/* Set CSS for logo to make it fit in page */
.logo__container {
    top: 0;
    border: 1px solid lightgray;
    margin-bottom: 20px;
}

/* User bar CSS */
.user__bar {
    display: flex;
    flex-direction: column;
}

.user__icon {
    margin-right: 8px;
}

.avatar {
    border: 1px solid lightgray;
}