/* Make CSS flex, center items & space between child containers */
.menubar {
    display: flex;
    flex-direction: column;
    /* Make the header stay in view, at the top
        z-index determines how in front it is (z axis)
        z-index 100 means nothing will ever be in front of it
        Background color so that it isn't transparent
    */
    position: sticky;
    top: 0;
    z-index: 100;
}

/* Set CSS for logo to make it fit in page */
.logo__container {
    top: 0;
    margin-bottom: 20px;
    margin-right: 58px;
    margin-left: 10%;
}

/* User bar CSS */
.menu__icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user__icon {
    margin-right: 8px;
}

.avatar {
    border: 1px solid lightgray;
}